*{
    margin: 0 auto;
    padding: 0 auto;
}
#container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2vh;
    width: 130vh;
    height: 94vh;
    margin-top: 1vh;
    background-color: dodgerblue;
}
#header{
    background-color: #f1f1f1;
    margin-left: 3.4vh;
    margin-top: 2vh;
    width: 123.5vh;
    height: 8vh;
    font-size: 4vh;
}
.flex-content{
    width: 127vh;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
#menu{
    background-color: #f1f1f1;
    margin-top: 3vh;
    margin-left: 2vh;
    width: 35vh;
    height: 72vh;
    font-size: 4vh;
}
#content{
    background-color: #f1f1f1;
    margin-top: 3vh;
    width: 85vh;
    height: 72vh;
    font-size: 4vh;
}
.txt{
    text-align: center;
    margin: 0 auto;
    margin-top: 0;
}
.flex-img{
    display: flex;
    margin: 2vh;
    flex-direction: row;
    justify-content: space-around;
}
.img{
    width: 25vh;
    height: 25vh;
    background-color: tomato;
    display: flex;
}
#footer{
    background-color: #f1f1f1;
    font-size: 4vh;
    margin-left: 3.4vh;
    margin-top: 4vh;
    margin-bottom: 1vh;
    width: 123.5vh;
    height: 8vh;
}